*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Golos Text';
}

.container{
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}



.navbar{
    background-color: rgb(248 248 249);

    .navbar-servise{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 24px;

        .phone{
            a{
                text-decoration: none;
                font-size: 12px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                gap: 8px;
                color: #6c7178;
                -webkit-transition: all 0.6s;
                -o-transition: all 0.6s;
                transition: all 0.6s;

                &:hover{
                    color: #222;
                }
            }
        }

        .location{
            a{
                text-decoration: none;
                font-size: 12px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                gap: 8px;
                color: #6c7178;
                -webkit-transition: all 0.6s;
                -o-transition: all 0.6s;
                transition: all 0.6s;

                &:hover{
                    color: #222;
                }
            }
        }
    }

    .navbar-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        .nav{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 24px;
            li{
                a{
                    text-decoration: none;
                    font-size: 12px;
                    color: rgb(108 113 120);
                        
                    &:hover{
                        color: #222;
                    }
                }
            }

            select{
                border: none;
                background-color: transparent;
                color: rgb(108 113 120);
                font-size: 12px;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                text-align: center;

                &:hover{
                    color: #222;
                }

                &:focus{
                    outline: none;
                }
            }
        }
    }
}



header{
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    .header__container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 10px 15px;

        .logo{
            margin-right: 25px;
        }

        .sticky{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;

            button{
                padding: 14px 16px;
                gap: 8px;
                border: none;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                text-align: center;
                border-radius: 14px;
                margin-right: 30px;
                background-color: rgba(217, 46, 21, 1);
                cursor: pointer;

                span{
                    color: #fff;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .order-status{
                a{
                    text-decoration: none;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    gap: 7px;
                }
            }
        }
    }
}

.sticky{
    .search{
        width: 456px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border-radius: 14px;
        border: 1px solid rgba(245, 245, 246, 1);
        padding: 5px 5px 5px 20px;

        input{
            width: 400px;
            color: #222;
            font-size: 14px;
            border: none;

            &:focus{
                outline: none;
            }
        }
        
        a{
            text-decoration: none;
            width: 74px;
            height: 43px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            border-radius: 14px;
           background-color: red;   
           padding: 10px;  
        }
    }
}

.categories{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    margin-left: 35px;

    .order-status{
        a{
            text-decoration: none;
            span{
                font-size: 14px;
                color: #1D242F;
            }
        }
    }
}

.page{
    margin: 15px 0px 0px 0px;

    .header__navbar{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 90px;

        .aksiya-name{
            background-image: url("../img/aksiya.svg");
            background-size: cover;
            background-position: 100%;
            background-repeat: no-repeat;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            min-height: 25px;
            min-width: 100px;
            font-size: 12px;
            font-weight: 500;
            color: rgb(255, 255, 255, 1);
            text-decoration: none;
            
            &:nth-child(1){
                color: #fff;
            }
        }

        ul{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            gap: 28px;
            margin-bottom: -1rem;
            margin-left: -2rem;

            li{
                    a{
                        text-decoration: none;
                        font-size: 14px;
                        color: rgb(108 113 120);

                        &:hover{
                            color: #222;
                        }
                    }
                }
            }
    }
}

.banner-img{
    margin-top: 48px;
}

.container2{
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.total__category-container{
            margin-top: 32px;
            margin-bottom: 32px;
            padding: 0 15px;
            .category-title{
                margin-bottom: 30px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;

                h1{
                    color: rgb(29, 36, 47, 1);
                }

                a{
                    text-decoration: none;
                    color: rgb(11, 43, 94, 1);
                }
            }

            .name-products{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                .part1{
                    padding: 16px;
                    border: 1px solid rgb(245, 245, 246, 1);
                    border-radius: 18px;

                    a{
                        text-decoration: none;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        -webkit-box-pack: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                        color: rgb(29 36 47);
                        gap: 16px;
                        font-size: 16px;
                        font-weight: 500;

                        img{
                            border-radius:  10px;
                            padding: 10px;
                            background-color: rgba(217,46,21,.06);
                        }
                    }
                }
                .part3, .part5, .part6{
                    padding: 18px;
                }
            }
        }


.factory-menu{
    .menu-title{
        font-size: 24px;
        color: #1D242F;
        font-weight: bold;
    }

    ul{
        margin-top: 15px;
        margin-left: -2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 8px;

        li{
            background-color: rgb(247 248 248);
            padding: 6px 14px;
            border-radius: 40px;
            color: #fff;

            &:hover{
                background-color: rgb(29 36 47);
                color: #fff;
            }

            a{
                text-decoration: none;
                font-size: 12px;
                color: #6c7178;
                font-weight: 400;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                &:hover{
                    color: #fff;
                }
            }
        }
    }
}


.block-menu{
    margin-bottom: 32px;
    .menu-item{
        margin: 15px 0px;
        .television-branch{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 8px;
            margin-bottom: 32px;
            .item1{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                max-width: 215px;
                padding: 15px;

                &:hover{
                    border: 1px solid rgb(245, 245, 246, 1);
                    border-radius: 20px;
                    padding: 15px;
                }

                .item-title{
                    width: 100px;
                    background-color: rgb(14, 126, 46);
                    color: rgb(255, 255, 255);
                    font-size: 12px;
                    padding: 4px 12px;
                    border-radius: 6px;
                }
                .old-price{
                    margin-top: 8px;
                    text-decoration: line-through;
                    color: rgb(108 113 120);
                    font-size: 12px;
                    font-weight: 500;
                }
                .new-price{
                    margin-top: 4px;
                    color: rgb(29 36 47);
                    font-size: 18px;
                    font-weight: bold;
                }

                .monthly-price{
                    margin: 6px 0px;
                    border: 1px solid rgb(11 43 94);
                    color: rgb(11, 43, 94);
                    font-size: 14px;
                    padding: 4px 12px;
                    border-radius: 8px;
                    width: 185px;
                }

                .bonus{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    gap: 6px;
                    font-size: 12px;
                    margin-top: 12px;
                }

                .product-name{
                    font-size: 14px;
                    color: rgb(108 113 120);
                    font-weight: 400;
                    width: 115px;
                }
                .stars{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    font-size: 14px;
                    font-weight: 500;
                    gap: 6px;
                    margin-top: 10px;
                }
                .buttons{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    gap: 5px;
                    margin-top: 16px;

                    button{
                        background-color: none;
                        border: none;
                        padding: 10px 14px;
                        background-color: rgb(217 46 21);
                        border-radius: 10px;
                        &:nth-child(1){
                            width: 80px;
                            height: 50px;
                        }
                        &:nth-child(2){
                            background-color: rgb(247 248 248);

                            &:hover{
                                background-color: rgb(229, 232, 232);
                            }
                        }
                        &:nth-child(3){
                            background-color: rgb(247 248 248);

                            &:hover{
                                background-color: rgb(229, 232, 232);
                            }
                        }
                    }

                }
            }
            .item2{
                .product-name{
                    width: 160px;
                }
            }
            .item3{
                .product-name{
                    width: 190px;
                }
            }
            .item4{
                .product-name{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    width: 180px;
                    height: 40px;
                }
            }
            .item5{
                .product-name{
                    width: 190px;
                }
            }
            .item6{
                .product-name{
                    width: 190px;
                }
            }
        }
    }
}
.block-menu{
    margin: 15px 0px;
    .menu-item{
        .news{
            font-size: 24px;
            color: rgb(29 36 47);
            font-weight: 700;
            margin-bottom: 15px;
        }
        
        .xits{
            font-size: 24px;
            color: rgb(29 36 47);
            font-weight: 700;
            margin-bottom: 15px;
            padding-left: 15px;
        }

        .news-branch{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 8px;
            margin-bottom: 32px;

            .items1{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                width: 215px;
                padding: 12px;
                border-radius: 20px;

                &:hover{
                    border: 1px solid rgb(245, 245, 246, 1);
                }

                .item-title{
                    width: 56px;
                    display: inline-block;
                    border-radius: 6px;
                    background-color: rgb(211, 33, 64);
                    color: rgb(255, 255, 255);
                    font-size: 12px;
                    padding: 4px 12px;
                }
                
                .new-price{
                    margin-top: 8px;
                    color: rgb(29 36 47);
                    font-size: 18px;
                    font-weight: bold;
                }
                
                .monthly-price{
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    text-align: center;
                    margin: 6px 0px;
                    border: 1px solid rgb(11 43 94);
                    color: rgb(11 43 94);
                    font-size: 13px;
                    padding: 4px 15px;
                    border-radius: 8px;
                }
                
                .bonus{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    gap: 6px;
                    font-size: 12px;
                    margin-top: 12px;
                }
                
                .product-name{
                    font-size: 14px;
                    color: rgb(108 113 120);
                    font-weight: 400;
                    height: 38px;
                    margin-bottom: 12px;
                }
                .stars{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    font-size: 14px;
                    font-weight: 500;
                    gap: 6px;
                }
                .buttons{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    gap: 5px;
                    margin-top: 16px;
                
                    button{
                        background-color: none;
                        border: none;
                        padding: 10px 14px;
                        background-color: rgb(217 46 21);
                        border-radius: 10px;

                        &:nth-child(1){
                            width: 80px;
                            height: 50px;
                        }
                        &:nth-child(2){
                            background-color: rgb(247 248 248);

                            &:hover{
                                background-color: rgb(229, 232, 232);
                            }
                        }
                        &:nth-child(3){
                            background-color: rgb(247 248 248);

                            &:hover{
                                background-color: rgb(229, 232, 232);
                            }
                        }
                    }
                
                }
            }
        }

        .xits-branch{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 8px;

            .list1{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                width: 215px;
                padding: 12px;
                border-radius: 20px;
                border: 0px solid rgb(245, 245, 246, 1);

                &:hover{
                    border: 1px solid rgb(245, 245, 246, 1);
                }
                .xits-title-with-img{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;

                    .item-title{
                        width: 77px;
                        display: inline-block;
                        border-radius: 6px;
                        color: rgb(255, 255, 255);
                        background: rgb(255, 0, 84);
                        font-size: 12px;
                        padding: 4px 12px;
                    }
                }

                .old-price{
                    text-decoration: line-through;
                    font-size: 13px;
                    font-weight: 500;
                    opacity: 0.7;
                    margin: 20px 0px 0px;
                }

                .new-price{
                    padding-top: 16px;
                    color: rgb(29 36 47);
                    font-size: 18px;
                    font-weight: bold;
                }
                
                .monthly-price{
                    text-align: center;
                    width: 153px;
                    margin: 6px 0px;   
                    color: rgb(163, 23, 2); 
                    background-color: rgb(253 245 243);
                    font-size: 12px;
                    font-weight: 500;
                    padding: 6px 8px;
                    border-radius: 8px;
                }
                
                .bonus{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    gap: 6px;
                    font-size: 12px;
                    margin-top: 12px;
                }
                
                .product-name{
                    font-size: 14px;
                    color: rgb(108 113 120);
                    font-weight: 400;
                    width: 130px;
                    height: 38px;
                    margin-bottom: 12px;
                }
                .stars{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    font-size: 14px;
                    font-weight: 500;
                    gap: 6px;
                }
                .buttons{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    text-align: center;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    gap: 5px;
                    margin-top: 16px;
                
                    button{
                        width: 100%;
                        background-color: none;
                        border: none;
                        padding: 14px;
                        background-color: rgb(217 46 21);
                        border-radius: 10px;
                        color: #fff;
                    }
                
                }
            }

            .list2, .list4, .list6{
                .product-name{
                    width: 184px;
                }
            }

            .list6{
                .old-price{
                    opacity: 0.7;
                    margin-top: 16px;
                    margin-bottom: 4px;
                }
                .bonus{
                    margin-top: -1px;
                }
                .product-name{
                    margin-top: -8px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.middle-banner-img{
    margin-bottom: 32px;
}


.offers{
    .offers__container{
        font-size: 24px;
        color: #1D242F;
        font-weight: bold;
    }

    ul{
        margin-top: 15px;
        margin-left: -2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 8px;

        li{
            background-color: rgb(247 248 248);
            padding: 6px 14px;
            border-radius: 40px;
            color: #fff;

            &:hover{
                background-color: rgb(29 36 47);
                color: #fff;
            }

            a{
                text-decoration: none;
                font-size: 12px;
                color: #6c7178;
                font-weight: 400;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                &:hover{
                    color: #fff;
                }
            }
        }
    }
}


.offer-branch{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    margin-bottom: 32px;

    .items1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 215px;
        padding: 12px;
        border-radius: 20px;

        &:hover{
            border: 1px solid rgb(245, 245, 246, 1);
        }

        .item-title{
            width: 56px;
            display: inline-block;
            border-radius: 6px;
            background-color: rgb(211, 33, 64);
            color: rgb(255, 255, 255);
            font-size: 12px;
            padding: 4px 12px;
        }
        
        .old-price{
            text-decoration: line-through;
            font-size: 13px;
            font-weight: 500;
            opacity: 0.7;
            margin: 20px 0px 0px;
        }


        .new-price{
            margin-top: 8px;
            color: rgb(29 36 47);
            font-size: 18px;
            font-weight: bold;
        }
        
        .monthly-price{
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            text-align: center;
            margin: 6px 0px;
            border: 1px solid rgb(11 43 94);
            color: rgb(11 43 94);
            font-size: 13px;
            padding: 4px 15px;
            border-radius: 8px;
        }
        
        .bonus{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 6px;
            font-size: 12px;
            margin-top: 12px;
        }
        
        .product-name{
            font-size: 14px;
            color: rgb(108 113 120);
            font-weight: 400;
            height: 38px;
            margin-bottom: 12px;
        }
        .stars{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            font-size: 14px;
            font-weight: 500;
            gap: 6px;
        }
        .buttons{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            gap: 5px;
            margin-top: 16px;
        
            button{
                background-color: none;
                border: none;
                padding: 10px 14px;
                background-color: rgb(217 46 21);
                border-radius: 10px;

                &:nth-child(1){
                    width: 80px;
                    height: 50px;
                }
                &:nth-child(2){
                    background-color: rgb(247 248 248);

                    &:hover{
                        background-color: rgb(229, 232, 232);
                    }
                }
                &:nth-child(3){
                    background-color: rgb(247 248 248);

                    &:hover{
                        background-color: rgb(229, 232, 232);
                    }
                }
            }
        
        }
    }

    .items5, .items6{
        img{
            margin-bottom: 18px;
        }
    }
}


.computers{
    .computer__container{
        .menu-title{
            font-size: 24px;
            color: #1D242F;
            font-weight: bold;
        }
    }
}

.computer-branch{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    margin-bottom: 32px;

    .items1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        width: 215px;
        padding: 12px;
        border-radius: 20px;

        &:hover{
            border: 1px solid rgb(245, 245, 246, 1);
        }
    }
}



.brend-container{
    .brend-title{
        font-size: 24px;
        color: #1D242F;
        font-weight: bold;
        margin-bottom: 32px;
    }
    .brends-img{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        gap: 10px;
        margin-right: 30px;
        li{
            padding: 30px;
            border: 2px solid rgb(245 245 246);
            border-radius: 20px;
        }
    }
}


.mediapark-container{
    margin-bottom: 40px;
    .mediapark-title{
        font-size: 24px;
        color: #1D242F;
        font-weight: bold;
        margin-bottom: 32px;
    }
    .mediapark-page{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        .explanation{
            padding: 16px 12px;
            border: 2px solid rgb(245 245 246);
            border-radius: 20px;

            a{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                text-decoration: none;
                .icon{
                    width: 48px;
                    height: 48px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    text-align: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    background-color: rgb(253 245 243);
                    border-radius: 10px;
                    text-decoration: none;

                }

                span{
                    padding-top: 15px;
                    width: 175px;
                    font-size: 16px;
                    font-weight: 700;
                    color: #222;
                    padding-bottom: 6px;
                }
                p{
                    font-size: 16px;
                    font-weight: 700;
                    color: rgb(108 113 120);

                }
            }
        }
    }
}


.online__shopping{
    margin-bottom: 32px;
    .online-shopping-container{
        background-color: #f8f8f9;
        height: 330px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 45px 15px;
    
        .aside-img{
            img{
                position: absolute;
                right: 15px;
                bottom: 0;
            }
        }
    
        .aside-text{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            gap: 10px;
    
            h2{
                font-size: 32px;
                font-weight: 700;
                color: #222;
                width: 490px;
            }
    
            p{
                width: 370px;
            }
        }
    }
    
}